
<div>
    {{#each teams}}
    <ul>
        <div>
            Name: {{this.name}}
            Sport:{{this.sport}}
            {{!-- <a href='/users/{{../userId}}/teams/{{this._id}}'>Go to Team</a> --}}
    </ul>
    {{/each}}
</div>
