<h1>Add New Team</h1>

<form action='/users/{{userId}}/teams' method='POST'>

    <div>Team Name: <input type='text' name='name'></div>
    <div>Sport: <input type='text' name='sport'></div>
    <div><input type='submit' value= 'Add New Team'></div>
    <div><a href='/users/{{userId}}/teams'>Cancel</a></div>

</form>                                                                         