<h1>Add New Team</h1>

<form action='/users/{{userId}}/teams' method='POST'>

    <div>Team Name: <input type='text' name='name'></div>
    <br>
    <div>Sport: <input type='text' name='sport'></div>
    <br>
    <div><input type='submit' value= 'Add New Team'></div>
    <br>
        {{!-- <div><a href='/teams/'><button>Cancel</button></a></div> --}}

</form>      
    <div><a href='/users/{{userId}}'><button>Cancel</button></a></div>
