<body class='home'>
    <h1 class='home'>{{title}}</h1>

   
        <p class='home'>Welcome to {{title}}! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus rerum similique earum
            numquam quidem magnam ipsam natus necessitatibus maiores! Tenetur quae accusamus obcaecati ipsum aperiam
            autem,
            tempore voluptatibus architecto dolore?</Lorem>
        </p>

    <a href='/users'><button>See All Users</button></a>
</body>