<body class='home'>
    <h1 class='home'>{{title}}</h1>

   
        <p class='home'>Welcome to {{title}}! This app allows users to share and track upcoming games for any sports team. Users can create a new profile with their own teams and games or, view other user profiles. Click the "Enter" button below, then create a new user profile with any team(s) and game(s), or view an existing profile.
        </p>

    <a href='/users'><button>Enter</button></a>
</body>