<h1>Edit User</h1>

<form action='/users/{{user._id}}?_method=PUT' method='POST'>

    <div>Username: <input type='text' name='username' value='{{user.username}}'></div>
    <br>
    <div><input type='submit' value='Update User'></div>

</form>