<h1>Create New User</h1>

<form action='/users' method='POST'>

    <div>Username: <input type='text' name='username'></div>
    <br>
    <div><input type='submit' value= 'Create New User'></div>
    <br>
</form>
 <a href= '/users/'><button>Cancel</button></a>
<br>
<br>