<h1>{{user.username}}</h1>
{{user.teams.name}}

<div><a href ='/users/{{user._id}}/edit'>Edit User</a></div>

<a href='/users'> Go back to Users</a>
<br>
<div>
<form action='/users/{{user._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete User'>
</form>
</div>